.button {
    width: 100%;
    font: inherit;
    cursor: pointer;
    margin:0 auto;
    display:block;

    padding: 10px 30px 10px 30px;
    border-radius: 14px;
    background-color: var(--att-btn-color);
}

[data-theme='light'] .button {
    color: white;
}

[data-theme='dark'] .button {
    color: black;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: var(--color2);
    border-color: var(--color2);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
    .button {
        width: auto;
    }
}