.grid-container {
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: auto auto; */
    grid-row-gap: 30px;
}

.text-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.stock-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.model-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.pattern-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.prediction-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.pattern-card-wrapper {
    overflow: hidden;
}

p.headings {
    text-align: center;
}

h1.headings {
    margin-bottom: 40px;

}
