.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px 520px;
}

.stock-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.model-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.pattern-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.prediction-module {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.pattern-card-wrapper {
    overflow: hidden;
}

.centered-text {
    text-align: center;
}