.symbol-input {
    /* margin: 10px 0 0 10px; */
    padding:10px;
    border-radius:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.symbol-list {
    margin-top: 20px;
    border-radius: 14px;
    position: absolute;
    z-index: 7;
    background-color: var(--color3);
    /* background: linear-gradient(to right, var(--color2), var(--color3)); */
}