html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 26px;
  color: var(--h1color)
}

h3 {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 400;
  line-height: 26px;
  color: var(--h1color)
}

p {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}

blockquote {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}

pre {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* background: linear-gradient(to bottom right, var(--color1),  var(--color2)); */
  background: #eeeeee;
  --color1: rgb(235, 233, 233);
  --color2: #979797;
  --color3: lightgrey;
  --color4: #000000;
  --h1color: #979797;
  --card2-color: lightgrey;
  --att-btn-color: rgb(31, 31, 31);

  --chart-color1: #000000;
  --chart-color2: #000000;

  --rdp-background-color: var(--color1) !important;
}

[data-theme='dark'] {
  /* background: linear-gradient(to bottom right, var(--color1),  var(--color4)); */
  background: rgb(31, 31, 31);
  --color1: #303030;
  --color2: #666666;
  --color3: #979797;
  --color4: #000000;
  --card2-color: #666666;
  --att-btn-color: #eeeeee;

  --chart-color1: #6BA583;
  --chart-color2: #DB0000;

}

[data-theme='dark'] .react-stockcharts-tooltip {
  fill: white;
}

[data-theme='dark'] .react-stockcharts-tooltip-label {
  fill: yellow;
}

/* override darkmode text color change for react day picker dropdown menu */
.rdp-dropdown {
  color: #000000;
}

html {
  min-height: 100%;
}

body {
  font-family: Verdana;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}